@model IEnumerable<PedagogyWorld.StrandDomain>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            ConceptualCategory
        </th>
        <th>
            State_Id
        </th>
        <th>
            Grade_Id
        </th>
        <th>
            Subject_Id
        </th>
        <th>
            Headers
        </th>
        <th>
            Grade1
        </th>
        <th>
            State1
        </th>
        <th>
            Subject1
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.ConceptualCategory
        </td>
        <td>
			@item.State_Id
        </td>
        <td>
			@item.Grade_Id
        </td>
        <td>
			@item.Subject_Id
        </td>
        <td>
			@(item.Headers == null ? "None" : item.Headers.Count.ToString())
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Grade1).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.State1).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Subject1).ToString()
        </td>
    </tr>
}

</table>


