@{
    ViewBag.Title = "Pedagogy World";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>Manage your teaching resources</h2>
            </hgroup>
            <p>
                To learn more about the site 
               <a href="@Url.Action("About","Home", new { Area=""})">More information...</a>
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Register here using your school email address
        <a href="@Url.Action("Register","Account", new { Area=""})">More information...</a>
    </li>

    <li class="two">
        <h5>Refer your colleges and friends</h5>
        Tell your friends that you are managing your teaching material on cloud.
        <a href="@Url.Action("Register","Account", new { Area=""})">More information...</a>
    </li>

    <li class="three">
        <h5>Upload files and manage school calender</h5>
        You can assign teaching material as per teaching dates and download whenever needed. 
        <a href="@Url.Action("Register","Account", new { Area=""})">More information...</a>
    </li>
</ol>
