@model PedagogyWorld.Standard

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Standard</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Header.Header1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Header.Header1)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
