@model IEnumerable<PedagogyWorld.Standard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Name2
        </th>
        <th>
            Name3
        </th>
        <th>
            Name4
        </th>
        <th>
            Header_Id
        </th>
        <th>
            Header
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Name2
        </td>
        <td>
			@item.Name3
        </td>
        <td>
			@item.Name4
        </td>
        <td>
			@item.Header_Id
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Header).ToString()
        </td>
    </tr>
}

</table>


