@model IEnumerable<PedagogyWorld.Outcome>

@{
    ViewBag.Title = "Index";
}

<p>
   @Html.ActionLink("Back to Admin Page List", "Manage","State")
</p>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            OutcomeName
        </th>
        <th>
            Description
        </th>
        <th>
            OutcomeUnits
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.OutcomeName
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@(item.OutcomeUnits == null ? "None" : item.OutcomeUnits.Count.ToString())
        </td>
    </tr>
}

</table>


