@model PedagogyWorld.UserProfile

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.UserName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.UserName)
    @Html.ValidationMessageFor(model => model.UserName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.First)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.First)
    @Html.ValidationMessageFor(model => model.First)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Last)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Last)
    @Html.ValidationMessageFor(model => model.Last)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Email)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

