@using PedagogyWorld.ExtensionMethod
@model PedagogyWorld.Models.RegisterModel

<hgroup class="title">
    <h1>Create a new account.</h1>
</hgroup>

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="ValidationSummary"></div>
    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>

            <li>
                @Html.LabelFor(m => m.First)
                @Html.TextBoxFor(m => m.First)
                @Html.ValidationMessageFor(m => m.First)
            </li>

            <li>
                @Html.LabelFor(m => m.Last)
                @Html.TextBoxFor(m => m.Last)
                @Html.ValidationMessageFor(m => m.Last)
            </li>

            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
           <li>
              @Html.LabelFor(m => m.ConfirmPassword)
              @Html.PasswordFor(m => m.ConfirmPassword)
               @Html.ValidationMessageFor(m => m.ConfirmPassword)
           </li>

           <li>
              @Html.LabelFor(m => m.Email)
              @Html.TextBoxFor(m => m.Email)
               @Html.ValidationMessageFor(m => m.Email)
           </li>

           <li>
              @Html.LabelFor(m => m.State)
              @Html.DropDownListFor(m => m.State, new SelectList(Model.States, "Id", "ShortForm"))
           </li>

           <li>
              @Html.LabelFor(m => m.District)
               @Html.DropDownListFor(m => m.District, new SelectList(Model.Districts, "Id", "DistrictName"))
           </li>

           <li>
              @Html.LabelFor(m => m.School)
               @Html.DropDownListFor(m => m.School, new SelectList(Model.Schools, "Id", "SchoolName"))
           </li>

            <li>
                @Html.LabelFor(m => m.Subjects, "Subjects Teaching")
                @Html.CheckBoxList("SubjectIds", Model.Subjects)
                @Html.ValidationMessageFor(m => m.SubjectIds)
            </li>

            <li>
                @Html.LabelFor(m => m.Grades, "Grades Teaching")
                @Html.CheckBoxList("GradeIds", Model.Grades)
                @Html.ValidationMessageFor(m => m.GradeIds)
            </li>
        </ol>
        <input type="submit" value="Register" id="submit"/>
    </fieldset>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    $('#State').change(function () {
        $.getJSON('/Account/UpdateDistrictJSon?stateId=' + $("#State option:selected").val(), function (result) {
            var district = $('#District');
            district.empty();
            $(result).each(function (index, data) {
               $(document.createElement('option'))
                  .attr('value', data.Id)
                  .text(data.DistrictName)
                  .appendTo(district);
            });
            $('#District').change();
         });
      });
      
    $('#District').change(function () {
        alert("distrinct changed");
        $.getJSON('/Account/UpdateSchoolJSon?districtId=' + $("#District option:selected").val(), function (result) {
            var school = $('#School');
            school.empty();
            $(result).each(function (index, data) {
               $(document.createElement('option'))
                  .attr('value', data.Id)
                  .text(data.SchoolName)
                  .appendTo(school);
            });
         });
    });
</script>