@using PedagogyWorld.ExtensionMethod
@model PedagogyWorld.Models.RegisterModel

<hgroup class="title">
    <h1>Create a new account.</h1>
</hgroup>

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="ValidationSummary"></div>
    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
                <span>
                    <img id="usernameloading" src="~/Images/ajax-loader.gif" style="display:none;height:24px;width:24px;"/>
                    <img id="usernameyes" src="~/Images/yes.png" style="display:none;height:24px;width:24px;"/>
                    <img id="usernameno" src="~/Images/no.png" style="display:none;height:24px;width:24px;"/>
                </span>
                <p id="usernamevalidate" class="field-validation-error"></p>
            </li>

            <li>
                @Html.LabelFor(m => m.First)
                @Html.TextBoxFor(m => m.First)
                @Html.ValidationMessageFor(m => m.First)
            </li>

            <li>
                @Html.LabelFor(m => m.Last)
                @Html.TextBoxFor(m => m.Last)
                @Html.ValidationMessageFor(m => m.Last)
            </li>

            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
           <li>
              @Html.LabelFor(m => m.ConfirmPassword)
              @Html.PasswordFor(m => m.ConfirmPassword)
               @Html.ValidationMessageFor(m => m.ConfirmPassword)
           </li>

           <li>
              @Html.LabelFor(m => m.Email)
              @Html.TextBoxFor(m => m.Email)
               @Html.ValidationMessageFor(m => m.Email)
                <span>
                    <img id="emailloading" src="~/Images/ajax-loader.gif" style="display:none;height:24px;width:24px;"/>
                    <img id="emailyes" src="~/Images/yes.png" style="display:none;height:24px;width:24px;"/>
                    <img id="emailno" src="~/Images/no.png" style="display:none;height:24px;width:24px;"/>
                </span>
               <p id="emailvalidate" class="field-validation-error" style="display:none"></p>
           </li>

           <li>
              @Html.LabelFor(m => m.State)
              @Html.DropDownListFor(m => m.State, new SelectList(Model.States, "Id", "ShortForm"))
           </li>

           <li>
              @Html.LabelFor(m => m.District)
              @Html.DropDownListFor(m => m.District, Enumerable.Empty<SelectListItem>(), "-- Loading Districts --")
           </li>

           <li>
              @Html.LabelFor(m => m.School)
              @Html.DropDownListFor(m => m.School, Enumerable.Empty<SelectListItem>(), "-- Loading Schools --")
           </li>

            <li>
                @Html.LabelFor(m => m.Subjects, "Subjects Teaching")
                @Html.CheckBoxList("SubjectIds", Model.Subjects)
                @Html.ValidationMessageFor(m => m.SubjectIds)
                <p id="subjectvalidate" class="field-validation-error" style="display:none"></p>
            </li>

            <li>
                @Html.LabelFor(m => m.Grades, "Grades Teaching")
                @Html.CheckBoxList("GradeIds", Model.Grades)
                @Html.ValidationMessageFor(m => m.GradeIds)
                <p id="gradevalidate" class="field-validation-error" style="display:none"></p>
            </li>
        </ol>
        <input type="submit" value="Register" id="submit"/>
    </fieldset>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $('#UserName').blur(function () {
        if (validateUserName($(this).val())) {
            $("#usernameloading").show();
            var request = $.ajax({
                url: "/Account/DoesUserNameExist",
                type: "POST",
                data: { userName: $(this).val() },
                dataType: "json"
            });
        }
        else {
            $("#usernamevalidate").text("");
            $("#usernameyes").hide();
            $("#usernameno").hide();
        }

        request.done(function (msg) {
            var txt = "User Name already exists. Please select another one.";
            var color = "red";
            $("#usernameyes").hide();
            $("#usernameno").hide();
            $("#usernameloading").hide();
            if (!msg) {
                txt = "This User Name can be used."
                color = "green";
                $("#usernameyes").show();
            }
            else {
                $("#usernameno").show();
            }
            $("#usernamevalidate").text(txt)
                                .css("color", color)
                                .show();

        });
    });

    $('#Email').blur(function() {
        if (validateEmail($(this).val())) {
            $("#emailloading").show();
            var request = $.ajax({
                url: "/Account/DoesEmailExist",
                type: "POST",
                data: { email: $(this).val() },
                dataType: "json"
            });
            request.done(function (msg) {
                var txt = "Email Address already exists. Please select another one.";
                var color = "red";
                $("#emailyes").hide();
                $("#emailno").hide();
                $("#emailloading").hide();
                if (!msg) {
                    txt = "This Email Address can be used."
                    color = "green";
                    $("#emailyes").show();
                }
                else {
                    $("#emailno").show();
                }
                $("#emailvalidate").text(txt)
                                    .css("color", color)
                                    .show();
            });
        }
        else {
            $("#emailvalidate").text("");
            $("#emailyes").hide();
            $("#emailno").hide();
        }
    });

    function validateUserName(userName) {
        var re = /^[a-zA-Z0-9_-]{3,12}$/;
        return re.test(userName);
    }
    function validateEmail(email) { 
        var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    $('#State').change(function () {
        $.getJSON('/Account/UpdateDistrictJSon?stateId=' + $("#State option:selected").val(), function (result) {
            var district = $('#District');
            district.empty();
            $(result).each(function (index, data) {
               $(document.createElement('option'))
                  .attr('value', data.Id)
                  .text(data.DistrictName)
                  .appendTo(district);
            });
         });
      }).change();
      
    $('#District').change(function () {
        var selected = $("#District option:selected");
        if (selected.text() == "-- Loading Districts --") {
            selected.val(-1);
        }
        $.getJSON('/Account/UpdateSchoolJSon?districtId=' + selected.val(), function (result) {
            var school = $('#School');
            school.empty();
            $(result).each(function (index, data) {
               $(document.createElement('option'))
                  .attr('value', data.Id)
                  .text(data.SchoolName)
                  .appendTo(school);
            });
         });
    }).change();

    //$("#submit").click(function () {
    //    if ($("#usernameno").css('display') != "none") {
    //        alert("Duplicate username");
    //    }

    //    if ($("#emailno").css('display') != "none") {
    //        alert("Duplicate email");
    //    }

    //    if ($("#GradeIds input:checked").length == 0) {
    //        $("#gradevalidate").text("Please select atleast one Grade.")
    //                           .css("color", "red")
    //                           .show();
    //    }
    //    else {
    //        $("#gradevalidate").hide();
    //    }

    //    if ($("#SubjectIds input:checked").length == 0) {
    //        $("#subjectvalidate").text("Please select atleast one subject.")
    //                             .css("color", "red")
    //                             .show();
    //    }
    //    else {
    //        $("#subjectvalidate").hide();
    //    }
    //});
</script>

