@model PedagogyWorld.Data.Unit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
   @Html.ActionLink("Create New File", "Create", "Files", new {unitId=Model.Id, fileTypeId=1}, null)
</p>

<fieldset>
    <legend>Unit</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">Outcome</div>
    <div class="display-field">@(Model.Outcomes == null ? "None" : Model.Outcomes.Count.ToString())</div>

    <div class="display-label">Files</div>
    <div class="display-field">@(Model.Files == null ? "None" : Model.Files.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


