@using PedagogyWorld.ExtensionMethod
@model PedagogyWorld.Models.UnitModel

<div class="editor-label">
    @Html.LabelFor(model => model.Unit.UnitName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Unit.UnitName)
    @Html.ValidationMessageFor(model => model.Unit.UnitName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Unit.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Unit.Description)
    @Html.ValidationMessageFor(model => model.Unit.Description)
</div>

<div class="editor-label">
   Grade
</div>
<div class="editor-field">
    @Html.LabelFor(m => m.Subjects, "Subjects Teaching")
    @Html.CheckBoxList("SubjectIds", Model.Subjects)
    @Html.ValidationMessageFor(m => m.SubjectIds)
</div>

<div class="editor-label">
   Subject
</div>
<div class="editor-field">
    @Html.LabelFor(m => m.Grades, "Grades Teaching")
    @Html.CheckBoxList("GradeIds", Model.Grades)
    @Html.ValidationMessageFor(m => m.GradeIds)
</div>

<div class="editor-label">
   Outcome Type
</div>
<div class="editor-field">
    @Html.LabelFor(m => m.Outcomes, "Outcomes")
    @Html.CheckBoxList("OutcomeIds", Model.Outcomes)
    @Html.ValidationMessageFor(m => m.OutcomeIds)
   
</div>