@model PedagogyWorld.Unit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
   <legend>Unit</legend>

   <div class="display-label">UnitName</div>
   <div class="display-field">@Model.UnitName</div>

   <div class="display-label">Description</div>
   <div class="display-field">@Model.Description</div>

   <div class="display-label">Grades</div>
   <div class="display-field">@Html.DisplayTextFor(_ => Model.UnitGrades.Count).ToString()</div>

   <div class="display-label">Subject</div>
   <div class="display-field">@Html.DisplayTextFor(_ => Model.UnitSubjects.Count).ToString()</div>

   <div class="display-label">Outcomes</div>
   <div class="display-field">@(Model.OutcomeUnits == null ? "None" : Model.OutcomeUnits.Count.ToString())</div>

   <div class="display-label">Files</div>
   <div class="display-field">@(Model.UnitFiles == null ? "None" : Model.UnitFiles.Count.ToString())</div>

   <div class="display-label">Standards</div>
   <div class="display-field">@(Model.UnitStandards == null ? "None" : Model.UnitStandards.Count.ToString())</div>
</fieldset>

<p>
   @Html.ActionLink("Add file", "Create","File", new { id=Model.Id }, null) | @Html.ActionLink("Allign Standards", "AllignStandard", new { id=Model.Id })
</p>

<p>
   @Html.ActionLink("File List", "Index", "File", new { id=Model.Id },null)
</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


