@model IEnumerable<PedagogyWorld.Unit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            UnitName
        </th>
        <th>
            Description
        </th>
        <th>
            Grade
        </th>
       <th>
          Subject
       </th>
       <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
			@Html.ActionLink(item.UnitName, "Details", new { id=item.Id })
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Grade.GradeName).ToString()
        </td>
        <td>
           @Html.DisplayTextFor(_ => item.Subject.SubjectName).ToString()
        </td>
       <td>
          @Html.ActionLink("Edit", "Edit", new { id=item.Id }) | @Html.ActionLink("Delete", "Delete", new { id=item.Id })
       </td>
    </tr>
}

</table>


