@{
    ViewBag.Title = "AddFiles";
}

<ul>
    @*if (ViewData.Model != null)
    { 
        foreach(string s in ViewData.Model)
        {
            <a href="@Url.Action("DownloadFile","Home", new { filePath = @s})" target="_blank"><li>@s.Split('\\')[s.Split('\\').Length-1]</li></a>
        }
    }*@
</ul>

@*using (Html.BeginForm("AddFiles","Home", FormMethod.Post, new { Area="Member", enctype = "multipart/form-data" }))*@
@*using (Html.BeginForm())
{
    
  <input type="file" name="Add files" id="file1" />
    <br />
    <span>Choose grade</span>
 
    @Html.DropDownList("grade",
                      Enumerable.Range(0, 30)
                           .Select(x => new SelectListItem
                                            {
                                                 Text=x.ToString(),
                                                 Value=x.ToString()
                                            }
                                  ))
    <br />
    <span>Choose Subjects</span>

    @Html.DropDownList("subject",
                      Enumerable.Range(0, 30)
                           .Select(x => new SelectListItem
                                            {
                                                 Text=x.ToString(),
                                                 Value=x.ToString()
                                            }
                                  ))
    <br />
    <span> UNIT: </span>
    @Html.DropDownList("unit",
                      Enumerable.Range(0, 30)
                           .Select(x => new SelectListItem
                                            {
                                                 Text=x.ToString(),
                                                 Value=x.ToString()
                                            }
                                  ))    
    <br />
    <input type="submit"  value="Choose CC Standard/s" />
    <br />
    <input type="submit"  value="Choose CA Standard/s" />
    <br/>
    <input type="submit"  value="+ Pre-requisites" />     
    <br/>
    <input type="submit"  value="+ Add Instructional Materials" />
    <br/>
    <input type="submit" value="+ Add Assessment" /> 
    <br/>
    <input type="submit" value="+ Add Videos"  />
    <br/>
    <input type="submit" value="+ Add Projects"  />
    <br/>
    <input type="submit" value="+ Add Worksheets"/>
    <br/>
    <input type="submit" value="+ Add Rubrics"/>
    <br/>
    <input type="submit" value="+ Add Apps"  />
    <br/>
}*@

    <div style="float:right">
        <img src="~/Content/Images/Ask-Ms-Jean.png" alt="Ask Ms Jean"/>
    </div>



<form method="post" enctype="multipart/form-data">
    
  <label for="file1">File 1:</label>
  <input type="file" name="files" id="file1" />
  
  <input type="submit"  />
</form>