@model PedagogyWorld.Data.State

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>State</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">ShortForm</div>
    <div class="display-field">@Model.ShortForm</div>

    <div class="display-label">Districts</div>
    <div class="display-field">@(Model.Districts == null ? "None" : Model.Districts.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


