<!DOCTYPE html>

<html>
   <head>
      <title>Back of Pedagogy World</title>
   </head>
   <body>
      <div>
         @Html.ActionLink("States", "Index", "States", null, new {Area="Admin"})
      </div>
      <div>
         @Html.ActionLink("Districts", "Index", "Districts", null, new {Area="Admin"})
      </div>
      <div>
         @Html.ActionLink("Schools", "Index", "Schools", null, new {Area="Admin"})
      </div>
      <div>
         @Html.ActionLink("Users", "Index", "UserProfiles", null, new {Area="Admin"})
      </div>
      <div>
         @Html.ActionLink("Subjects", "Index", "Subjects", null, new {Area="Admin"})
      </div>
      <div>
         @Html.ActionLink("Grades", "Index", "Grades", null, new {Area="Admin"})
      </div>
      <div>
         @Html.ActionLink("FileTypes", "Index", "FileTypes", null, new {Area="Admin"})
      </div>
      <div>
         @Html.ActionLink("Outcomes", "Index", "Outcomes", null, new {Area="Admin"})
      </div>
   </body>
</html>