@model PedagogyWorld.State

<div class="editor-label">
    @Html.LabelFor(model => model.StateName, "State Name")
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.StateName)
    @Html.ValidationMessageFor(model => model.StateName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ShortForm, "Short Form")
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ShortForm)
    @Html.ValidationMessageFor(model => model.ShortForm)
</div>

