@model IEnumerable<PedagogyWorld.Unit>

@{
   ViewBag.Title = "Manage data";
}

<h2>Manage data</h2>

<table>
   <tr>
      <td>
         @Html.ActionLink("State", "Index","State")
      </td>
   </tr>
   <tr>
      <td>
         @Html.ActionLink("District", "Index","District")
      </td>
   </tr>
   <tr>
      <td>
         @Html.ActionLink("School", "Index","School")
      </td>
   </tr>
   <tr>
      <td>
         @Html.ActionLink("Grade", "Index","Grade")
      </td>
   </tr>
   <tr>
      <td>
         @Html.ActionLink("Subject", "Index","Subject")
      </td>
   </tr>
   <tr>
      <td>
         @Html.ActionLink("Outcome", "Index","Outcome")
      </td>
   </tr>
   <tr>
      <td>
         @Html.ActionLink("File Type", "Index","FileType")
      </td>
   </tr>
   <tr>
      <td>
         @Html.ActionLink("Strand Domain", "Index","StrandDomain")
      </td>
   </tr>
   <tr>
      <td>
         @Html.ActionLink("Header", "Index","Header")
      </td>
   </tr>
   <tr>
      <td>
         @Html.ActionLink("Standard", "Index","Standard")
      </td>
   </tr>
</table>