@model PedagogyWorld.School

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>School</legend>

    <div class="display-label">School Name</div>
    <div class="display-field">@Model.SchoolName</div>

    <div class="display-label">District</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.District.DistrictName).ToString()</div>

    <div class="display-label">State</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.State.StateName).ToString()</div>

    <div class="display-label">Users</div>
    <div class="display-field">@(Model.UserProfileSchools == null ? "None" : Model.UserProfileSchools.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


