@model IEnumerable<PedagogyWorld.School>

@{
    ViewBag.Title = "Index";
}

<p>
   @Html.ActionLink("Back to Admin Page List", "Manage","State")
</p>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            SchoolName
        </th>
        <th>
            District
        </th>
        <th>
            State
        </th>
        <th>
            SchoolUserProfiles
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.SchoolName
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.District.DistrictName).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.State.StateName).ToString()
        </td>
        <td>
			@(item.UserProfileSchools == null ? "None" : item.UserProfileSchools.Count.ToString())
        </td>
    </tr>
}

</table>


