@using PedagogyWorld.ExtensionMethod
@model PedagogyWorld.Models.FileModel

@{
    ViewBag.Title = "Create";
}

@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript">
   $(document).ready(function () {
      $('#startDate').datepicker();
   });
</script>

<h2>Create</h2>

@using (Html.BeginForm("Create", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>File</legend>

       <input type='file' name='uploadFile' id='uploadFile' />

       <div class="editor-label">
          @Html.LabelFor(model => model.Description)
       </div>
       <div class="editor-field">
          @Html.EditorFor(model => model.Description)
          @Html.ValidationMessageFor(model => model.Description)
       </div>

       <div class="editor-label">
          File Type
       </div>
       <div class="editor-field">
          @Html.CheckBoxList("fileIds", Model.FileTypes)
       </div>

       <div class="editor-label">
          @Html.LabelFor(model => model.TeachingDate)
       </div>
       <div class="editor-field">
          @Html.TextBox("TeachingDate", null, new{id="startDate"})
       </div>
       
       <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
