@model PedagogyWorld.File

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>File</legend>

    <div class="display-label">FileName</div>
    <div class="display-field">@Model.FileName</div>

    <div class="display-label">Path</div>
    <div class="display-field">@Model.Path</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">Alias</div>
    <div class="display-field">@Model.Alias</div>

    <div class="display-label">FileFileTypes</div>
    <div class="display-field">@(Model.FileFileTypes == null ? "None" : Model.FileFileTypes.Count.ToString())</div>

    <div class="display-label">TeachingDates</div>
    <div class="display-field">@(Model.TeachingDates == null ? "None" : Model.TeachingDates.Count.ToString())</div>

    <div class="display-label">UnitFiles</div>
    <div class="display-field">@(Model.UnitFiles == null ? "None" : Model.UnitFiles.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


