@model PedagogyWorld.Data.File

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>File</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Path</div>
    <div class="display-field">@Model.Path</div>

    <div class="display-label">FileTypes</div>
    <div class="display-field">@(Model.FileTypes == null ? "None" : Model.FileTypes.Count.ToString())</div>

    <div class="display-label">Units</div>
    <div class="display-field">@(Model.Units == null ? "None" : Model.Units.Count.ToString())</div>

    <div class="display-label">TeachingDates</div>
    <div class="display-field">@(Model.TeachingDates == null ? "None" : Model.TeachingDates.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


