@model PedagogyWorld.District

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.DistrictName, "District Name")
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.DistrictName)
    @Html.ValidationMessageFor(model => model.DistrictName)
</div>

<div class="editor-label">
   State
</div>
<div class="editor-field">
   @Html.DropDownListFor(model => model.State_Id, ((IEnumerable<PedagogyWorld.State>)ViewBag.PossibleStates).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.StateName), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.State_Id)
    }), "Choose...")
   @Html.ValidationMessageFor(model => model.State_Id)
</div>

