@model IEnumerable<PedagogyWorld.District>

@{
    ViewBag.Title = "Index";
}

<p>
   @Html.ActionLink("Back to Admin Page List", "Manage","State")
</p>

<h2>Index</h2>

<p>
   @Html.ActionLink("Create New", "Create")
</p>

<table>
    <tr>
        <th></th>
        <th>
            District Name
        </th>
        <th>
            State
        </th>
        <th>
            Schools
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.DistrictName  
        </td>
        <td>
			@item.State.StateName
        </td>
        <td>
			@(item.Schools == null ? "None" : item.Schools.Count.ToString())
        </td>
    </tr>
}
</table>
<br /><br /><br />
<div>
    <a href="~/Admin/District/Index?start=0">Start</a>
    <a href="~/Admin/District/Index?start=@ViewBag.Next">Next</a>
</div>